<div class="row">
  {% for post in site.posts %}
  <div class="col s12 m12">
    <div class="card">
      <div class="left">
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
        <span class="blog-feed-date">{{post.date | date: date_format}}</span>
        <br/>
        <img src="{{site.baseurl}}/assets/images/{{post.image}}" class="blog-feed-image">
      </div>
      <div class="card-image" style="min-height: 140px;">
        <h5 class="blog-feed-title">
          <a href="{{site.baseurl}}{{post.url}}"> {{ post.title | escape }}</a>
        </h5>
        <div class="card-content" style="padding: 12px;">
          <p>{{post.excerpt}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>