<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>

<!-- math format -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>
<footer class="page-footer center">
  <div class="footer-copyright center">
    <i class="material-icons" style="padding-right:5px">copyright</i>
    <p>2018 Copyright {{ site.name }} | All rights reserved</p>
  </div>
</footer>

</html>